<head>
  <title>Add-plan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Add Plan Details</h2>
  <form method="POST" action="/api/plans/addplan" enctype="multipart/form-data">

      <div class="form-group">
          
          <input type="hidden" class="form-control" id="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Imt1cHBhbmlwcmF2YWxsaWthMjAxQGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InByYXZhbGxpa2EiLCJleHAiOjE1MTY4ODQ5MTMsImlhdCI6MTUxNjg4MTMxM30.Ve1RT_dEFwnEHAgrZ9XBVOZ9a8vT0v9dC2ovJhoPhic" name="token">
          <span id="e_name" style="color:red;display:none;"></span>
        </div>
        
    <div class="form-group">
      <label for="collectionType">collectionType</label>
      <input type="text" class="form-control" id="collectionType" placeholder="Enter collectionType" name="collectionType">
    </div>

    <div class="form-group">
      <label for="collectionId">collectionId</label>
      <input type="text" class="form-control" id="collectionId" placeholder="Enter collectionId" name="collectionId">
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" name="title"> 
    </div>

    <div class="form-group">
      <label for="des">Description</label>
      <input type="text" class="form-control" id="des" placeholder="Enter Description" name="des">
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
    </div>

    <div class="form-group">
        <input type="file" name="image" id="image" />
        <!-- <input type="submit" value="Upload Image" name="submit"> -->
        <span id = "status"></span>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>

<script>
function validate()
{
  var collectionType=$("#collectionType").val();
  var collectionId=$("#collectionId").val();
  var title=$("#title").val();
  var description=$("#des").val();
  var price=$("#price").val();

  $.ajax({
						type: 'POST',
            url: 'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8083/api/plans/addplan',
            headers: {'token': "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTc1MTU0NiwiaWF0IjoxNTE1NzQ3OTQ2fQ.o8oLDGVfkxbaXwz95uzP35p7yBxlp2139kgwKp-Nh-Y"},
            data: {collectionType:collectionType,collectionId:collectionId,title:title,description:description,price:price},						
                        success: function(data) {
                            alert(JSON.stringify(data));
                            console.log(JSON.stringify(data));
                            $("#collectionType").val("");$("#collectionId").val("");$("#title").val("");
                            $("#des").val("");$("#price").val("");
                        }
  });
  return false;
}

</script>
</html>

